@use 'index';


.About {
  @include index.column($height: inherit, $width: inherit);
  justify-content: flex-start;
}

.About-BG {
  @include index.row($height: 100vh, $width: inherit);
  background-image: url('../img/about-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  backdrop-filter: blur(2rem);
  align-items: center;
  padding: 0 1rem;
}

.About-BG::before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter        : blur(0.5rem);
  -moz-filter   : blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  -o-filter     : blur(0.5rem);
}

.About-Content {
  @include index.column($height: fit-content, $width: fit-content);
  text-align: center;
}

.About-Header {
  margin-top: 10rem;
  font-size: 5rem;
  color: index.$backgroundColor;
}

.About-Header-Span {
  color: index.$altColor;
}

.has-border {
  border-right: 5px solid #121212;
}

.About-Body {
  font-size: 2rem;
}

.About-Footer {
  @include index.row($height: 100%, $width: 100%);
  justify-content: space-around;
  align-items: center;
}

.About-Contact {
  @include index.row($height: fit-content, $width: fit-content);
  @include index.button($height: fit-content, $width: fit-content);
  text-align: center;
  align-items: center;
  padding: 1.25rem 2rem;
  border: 0.2rem solid index.$backgroundColor;
  font-weight: 600;
  font-size: 1.75rem;
}

.About-Contact:hover {
  border: 0.2rem solid index.$headingColor;
}

.About-Social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.About-Link {
  color: index.$altColor;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.About-Link:hover {
  color: index.$headingColor;
}

.About-Seperator {
  margin: 0 1rem;
  background-color: index.$headingColor;
}

@media only screen and (max-width: 1020px) {
  .About {
    flex-direction: column;
    justify-content: center;
  }

  .About-Content {
    margin: 0;
  }

  .About-Photo {
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .has-border {
    border-right: none;
  }

  .About-Footer {
    flex-direction: column;
    justify-content: center;
  }

  .About-Social {
    margin-top: 1rem;
  }

}

@media only screen and (max-width: 800px) {
  .About-Link {
    width: 100%;
    text-align: center;
  }

  .About-Seperator {
    display: none;
  }
}