.About {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.About-Photo {
  width: 25rem;
  margin-right: 5rem;
  align-self: center;
}

.About-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.About-Header {
  font-size: 5rem;
}

.About-Body {
  font-size: 2rem;
}

.About-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.About-Contact {
  border: none;
  outline: none;
  border-radius: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 5rem;
  padding: 2rem;
  background-color: rgb(63,66,85);
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 2rem;
}

.About-Contact:hover {
  box-shadow: 0 0 0.8rem rgb(63,66,85);
}

.About-Contact:active {
  background-color: whitesmoke;
  color: rgb(63,66,85);
}

.About-Social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.About-Link {
  color: rgb(114, 116, 134);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.About-Link:hover {
  color: rgb(63,66,85);
}

.About-Seperator {
  margin: 0 1rem;
}

@media only screen and (max-width: 1020px) {
  .About {
    flex-direction: column;
    justify-content: center;
  }

  .About-Content {
    margin: 0;
  }

  .About-Photo {
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .About-Footer {
    flex-direction: column;
    justify-content: center;
  }

  .About-Social {
    margin-top: 1rem;
  }

}

@media only screen and (max-width: 800px) {
  .About-Link {
    width: 100%;
    text-align: center;
  }

  .About-Seperator {
    display: none;
  }
}