.Navbar {
  position:fixed;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 2.5%;
  top: 0;
  left: 0;
  height: 5rem;
  margin-top: 0;
  background-color: white;
}

.Navbar-Name {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(63, 66, 85);
}

.Navbar-Hamburger {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 5%;
  margin-left: auto;
}

.Navbar-Links {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .Navbar-Links {
    background-color: white;
    position: absolute;
    left: -2rem;
    top: 5rem;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.Navbar-Link {
  text-decoration: none;
  color: rgb(63, 66, 85);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 1rem;
}