.Navbar {
  position:fixed;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 2.5%;
  top: 0;
  left: 0;
  height: 5rem;
}

.Navbar-Name {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(63, 66, 85);
}

.Navbar-Hamburger {
  margin-right: 5%;
  margin-left: auto;
}