.Project-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Project-Btn {
  outline: none;
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.Project-Btn.Project-Link {
  border: 2px solid white;
  background-color: white;
  color: rgb(21,21,21);
  background: linear-gradient(to right, yellow 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.Project-Btn.Project-Source {
  border: 2px solid white;
  color: white;
  background: linear-gradient(to right, yellow 50%, rgb(21,21,21) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.Project-Btn.Project-Source:hover {
  border: 2px solid rgb(21,21,21);
  background-position: left bottom;
  color: rgb(21,21,21);
}

.Project-Btn.Project-Btn.Project-Link:hover {
  border: 2px solid rgb(21,21,21);
  background-position: left bottom;
  color: rgb(21,21,21);
}

.Project-Btn.Project-Source:active {
  background-color:  rgb(21,21,21);
  color: rgb(21,21,21);
}

.Project-Btn.Project-Link:active {
  background-color: white;
  color: rgb(21,21,21);
  border: 2px solid white
}

@media only screen and (max-width: 850px) {
  .Project-Footer {
    flex-direction: column;
    align-items: center;
  }

  .Project-Btn {
    margin: 1rem 0;
  }
}