@use 'index';

.Project-Footer {
  @include index.row($width: 100%);
  justify-content: space-between;
}

.Project-Btn.Project-Link {
  @include index.button(
    $width: 15rem, $height: 5rem, $borderRadius: 5rem, $primaryColor: index.$headingColor, $hoverColor: index.$altColor, $textColor: index.$backgroundColor
  );
  border: 2px solid white;
}

.Project-Btn.Project-Source {
  @include index.button(
    $width: 15rem, $height: 5rem, $borderRadius: 5rem, $primaryColor: index.$backgroundColor, $hoverColor: index.$altColor, $textColor: index.$headingColor
  );
  border: 2px solid white;
}

@media only screen and (max-width: 850px) {
  .Project-Footer {
    flex-direction: column;
    align-items: center;
  }

  .Project-Btn {
    margin: 1rem 0;
  }
}