@use 'index';

.Skills {
  @include index.row;
  width: inherit;
  height: fit-content;
  justify-content: space-evenly;
}

.Skills-Header {
  font-size: 5rem;
  color: index.$lightColor;
  text-align: center;
}

.Skill-Pill {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: white;
  color: index.$darkColor;
  width: 20rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 500;
  box-shadow: 0 0 3px index.$altColor;
  margin: 1rem 2rem;
}

.Skill-Pill:hover {
  width: 22rem;
  height: 5rem;
  cursor: pointer;
}