.Skills {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: fit-content;
}

.Skill-Pill {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: white;
  color: rgb(21,21,21);
  width: 20rem;
  height: 4rem;
}